!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title ClientAPI
    = stylesheet_link_tag    'application', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'application', data: { turbolinks_track: true }
    = csrf_meta_tags
  %body
    .wrapper.container-fluid
      .main-body
        .container
          - if flash_messages.present?
            .flash-messages= flash_messages
        = yield
